@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$primario: #8841DA;
$secundario: #3F579A;
$oscuro: #333333;
$gris: #aeadad;
$color-tex-btn:#FFF;
$fuente1: "Oswald", sans-serif;
$fuente2: "Lato", sans-serif;
$fuente3:"Inconsolata",monospace;;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin estilos-texto($color:#1bf41b, $t-letra:5px,$tipo-letra:'Arial'){
    font-family: $tipo-letra;
    color:$color;
    font-size: $t-letra;
    text-align: center;
    /*@if $tipo-letra == $fuente1{
        text-transform: uppercase;
    }@else{
        text-transform: uppercase;
    }*/

}